<mat-list>
  <mat-list-item *ngFor="let contact of contacts">
    <div class="contact-details">
      <h3>{{ contact.name.toUpperCase() }}</h3>
      <p>{{ contact.email.toLowerCase() }}</p>
      <ul>
        <li *ngFor="let phone of contact.phones">
          {{ phone.type }}: {{ formatPhoneNumber(phone) }}
        </li>
      </ul>
    </div>
    <button mat-icon-button color="primary" (click)="onEditContact(contact)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="onDeleteContact(contact.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
