<form (submit)="onSubmit()" class="space-y-4 mb-8">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="contact.name" name="name" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="contact.email" name="email" required />
  </mat-form-field>

  <!-- Telefones -->
  <div *ngFor="let phone of contact.phones; let i = index" class="flex space-x-2 items-center">
    <mat-form-field class="w-full">
      <mat-label>Tipo de Telefone</mat-label>
      <mat-select [(ngModel)]="phone.type" name="phoneType-{{ i }}">
        <mat-option value="móvel">Móvel</mat-option>
        <mat-option value="fixo">Fixo</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Telefone</mat-label>
      <input matInput [(ngModel)]="phone.number" name="phoneNumber-{{ i }}" required />
    </mat-form-field>

    <button mat-icon-button color="warn" (click)="onRemovePhone(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <button mat-raised-button color="primary" type="button" (click)="onAddPhone()">Adicionar Telefone</button>
  <button mat-raised-button color="accent" type="submit">Salvar</button>
</form>
